storage/*
__pycache__/*
campain_logs/*
llm_log/*
*egg-info
.vscode
*.idea*
retrieve_plafrim_data.sh
sync_plafrim.sh
retrieve_remy.sh
sync_remy.sh
*.gif
viz/*
graphics/*
retrieve_graphics.sh
retrieve_grg.sh
run_seeds.sh
sync_grg.sh
get_node.sh
llm_log/
.git*
.cache*
storage_old_2021.tar.gz
