*__pycache__
storage/*
graphics/*
storage_old_2021.tar.gz
*egg-info
.vscode
*.idea*
retrieve_plafrim_data.sh
sync_plafrim.sh
retrieve_remy.sh
sync_remy.sh
*.gif
viz/*
retrieve_graphics.sh
retrieve_grg.sh
run_seeds.sh
sync_grg.sh
get_node.sh
llm_log/
.cache/
.ipynb_checkpoints/*
campain_logs
llm_data/backup
saved_logs_LLMs/*
plots/*
retrieve_viz_and_graphics.sh
retrieve_llm_log.sh
gym-minigrid/figures/*